# common bx
/upload/
/bitrix/
#/bitrix/*
#!/bitrix/components/
#/bitrix/components/*/*
#!/bitrix/php_interface/
#/bitrix/php_interface/dbconn.php
#/bitrix/php_interface/dbconn_local.php
#!/bitrix/templates

# Порочные файлы от OS
*~
.fuse_hidden*
.directory
.Trash-*
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
.idea
.DS_Store
/.aptitude
/.cache
/.config
/.cpan
/.gnupg
/.links2
/.local
/.rc
/.ssh
/.subversion
/.goaccessrc
/.inputrc
/.lesshst
/.mysql_history
/.nano_history
/.profile
/.profile.save
/.psql_history
/.viminfo
/.bash_history
/.bashrc
/.bashrc.save

# current project
/_log/*
!/_log/.htaccess
/robots.txt
/.htaccess
/sitemap*.xml
*.log
/local/php_interface/init_local.php
/_backup/

**/flags/*.flag
